body{
    background-color: rgb(70, 142, 236);
}
header > h1{
    color: white;
    text-align: center;
    font-family: arial;
    
}
section{
    background-color: white;
    width: 700px;
    height: 600px;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.542);

}
div#resultado{
    text-align: center;

}
footer{
    text-align: center;
    color: white ;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}